In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("data/survey_results_public.csv")
schema_df = pd.read_csv("data/survey_results_schema.csv")

In [5]:
pd.set_option("display.max_columns", 170)
pd.set_option("display.max_rows", 85)

In [ ]:
df.tail()
df.head()
df.info()

In [ ]:
schema_df

In [6]:
df.shape

(49123, 170)

In [7]:
df.columns

Index(['ResponseId', 'MainBranch', 'Age', 'EdLevel', 'Employment',
       'EmploymentAddl', 'WorkExp', 'LearnCodeChoose', 'LearnCode',
       'LearnCodeAI',
       ...
       'AIAgentOrchestration', 'AIAgentOrchWrite', 'AIAgentObserveSecure',
       'AIAgentObsWrite', 'AIAgentExternal', 'AIAgentExtWrite', 'AIHuman',
       'AIOpen', 'ConvertedCompYearly', 'JobSat'],
      dtype='object', length=170)

In [ ]:
df["EdLevel"]

0          Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
1                      Associate degree (A.A., A.S., etc.)
2             Bachelor’s degree (B.A., B.S., B.Eng., etc.)
3             Bachelor’s degree (B.A., B.S., B.Eng., etc.)
4          Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
                               ...
49118         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
49119         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
49120    Secondary school (e.g. American high school, G...
49121                  Associate degree (A.A., A.S., etc.)
49122    Some college/university study without earning ...
Name: EdLevel, Length: 49123, dtype: object

In [9]:
df["EdLevel"].value_counts()

EdLevel
Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          20247
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       12575
Some college/university study without earning a degree                                 6175
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     3627
Professional degree (JD, MD, Ph.D, Ed.D, etc.)                                         2620
Associate degree (A.A., A.S., etc.)                                                    1560
Other (please specify):                                                                 701
Primary/elementary school                                                               582
Name: count, dtype: int64

In [12]:
df.loc[[0, 1, 2], "EdLevel"]

0    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
1                Associate degree (A.A., A.S., etc.)
2       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
Name: EdLevel, dtype: object

In [14]:
df.loc[0:2, "EdLevel": "WorkExp"]

,EdLevel,Employment,EmploymentAddl,WorkExp
0,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed,"Caring for dependents (children, elderly, etc.)",8.0
1,"Associate degree (A.A., A.S., etc.)",Employed,NaN,2.0
2,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Independent contractor, freelancer, or self-em...",None of the above,10.0