In [ ]:
person = {
    "first": "Abanoub",
    "last": "Refaat",
    "email": "abanoub@email.com"
}

In [ ]:
people = {
    "first": ["Abanoub"],
    "last": ["Refaat"],
    "email": ["abanoub@email.com"]
}

In [4]:
people = {
    "first": ["Abanoub", "Ebram", "Fady","John","Jane"],
    "last": ["Refaat", "Wael", "Mounir","Doe", "Doe"],
    "email": ["abanoub@email.com", "ebram@email.com", "fady@email.com", "john@email.com", "jane@gmail.com"]
}

In [2]:
people["email"]

['abanoub@email.com',
 'ebram@email.com',
 'fady@email.com',
 'john@email.com',
 'jane@gmail.com']

In [2]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)

In [5]:
df

     first    last              email
0  Abanoub  Refaat  abanoub@email.com
1    Ebram    Wael    ebram@email.com
2     Fady  Mounir     fady@email.com
3     John     Doe     john@email.com
4     Jane     Doe     jane@gmail.com

In [6]:
df["email"]

0    abanoub@email.com
1      ebram@email.com
2       fady@email.com
3       john@email.com
4       jane@gmail.com
Name: email, dtype: object

In [7]:
df.email

0    abanoub@email.com
1      ebram@email.com
2       fady@email.com
3       john@email.com
4       jane@gmail.com
Name: email, dtype: object

In [8]:
type(df["email"])

pandas.core.series.Series

In [9]:
df[["last", "email"]]

     last              email
0  Refaat  abanoub@email.com
1    Wael    ebram@email.com
2  Mounir     fady@email.com
3     Doe     john@email.com
4     Doe     jane@gmail.com

In [10]:
type(df[["last", "email"]])

pandas.core.frame.DataFrame

In [11]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [12]:
df.iloc[[0, 1]] #integer location

     first    last              email
0  Abanoub  Refaat  abanoub@email.com
1    Ebram    Wael    ebram@email.com

In [13]:
df.iloc[[0, 1], 2]

0    abanoub@email.com
1      ebram@email.com
Name: email, dtype: object

In [14]:
df.loc[0] # labeled location

first              Abanoub
last                Refaat
email    abanoub@email.com
Name: 0, dtype: object

In [15]:
df.loc[[0, 1], ["email", "last"]] # in the same order email then last

               email    last
0  abanoub@email.com  Refaat
1    ebram@email.com    Wael

In [16]:
df.set_index("email", inplace=True)
df

                     first    last
email
abanoub@email.com  Abanoub  Refaat
ebram@email.com      Ebram    Wael
fady@email.com        Fady  Mounir
john@email.com        John     Doe
jane@gmail.com        Jane     Doe

In [17]:
df.index

Index(['abanoub@email.com', 'ebram@email.com', 'fady@email.com',
       'john@email.com', 'jane@gmail.com'],
      dtype='object', name='email')

In [18]:
df.loc["abanoub@email.com", "last"]

'Refaat'

In [19]:
df.reset_index(inplace=True)
df

               email    first    last
0  abanoub@email.com  Abanoub  Refaat
1    ebram@email.com    Ebram    Wael
2     fady@email.com     Fady  Mounir
3     john@email.com     John     Doe
4     jane@gmail.com     Jane     Doe

In [20]:
filt = (df["last"] == "Doe")

In [21]:
df[filt]

            email first last
3  john@email.com  John  Doe
4  jane@gmail.com  Jane  Doe

In [22]:
df.loc[filt, "email"] #df.loc[filter rows, cols]

3    john@email.com
4    jane@gmail.com
Name: email, dtype: object

In [23]:
filt = (df["last"] == "Doe") | (df["first"] == "Jane")
df.loc[~filt, "email"] # we use ~ is for negation instade of !

0    abanoub@email.com
1      ebram@email.com
2       fady@email.com
Name: email, dtype: object

In [24]:
df.columns

Index(['email', 'first', 'last'], dtype='object')

In [25]:
#renaming the columns
df.columns = ["first_name", "last_name", "email"]

In [33]:
df

          FIRST_NAME LAST_NAME   EMAIL
0  abanoub@email.com   Abanoub  Refaat
1    ebram@email.com     Ebram    Wael
2     fady@email.com      Fady  Mounir
3     john@email.com      John     Doe
4     jane@gmail.com      Jane     Doe

In [35]:
df.columns = [x.lower() for x in df.columns]

In [28]:
df.columns = df.columns.str.replace(" ", "_")

In [37]:
# using the rename method
df.rename(columns={"first_name": "first", "last_name": "last"}, inplace=True)

In [41]:
df

               first     last               email
0  abanoub@email.com  Abanoub              Refaat
1    ebram@email.com    Ebram                Wael
2     fady@email.com     Fady              Mounir
3               John     Snow  johnSnow@gmail.com
4     jane@gmail.com     Jane                 Doe

In [7]:
df.loc[3] = ["John", "Snow", "johnSnow@gmail.com"]

In [10]:
df

     first    last               email
0  Abanoub  Refaat   abanoub@email.com
1    Ebram    Wael     ebram@email.com
2     Fady  Mounir      fady@email.com
3    Aroen    Snow  johnSnow@gmail.com
4     Jane     Doe      jane@gmail.com

In [9]:
df.loc[3, "first"] = "Aroen"

In [14]:
filt = (df["email"] == "johnSnow@gmail.com")
df[filt]["last"]

3    Snow
Name: last, dtype: object