In [1]:
person = {
    "first": "Abanoub",
    "last": "Refaat",
    "email": "abanoub@email.com"
}

In [2]:
people = {
    "first": ["Abanoub"],
    "last": ["Refaat"],
    "email": ["abanoub@email.com"]
}

In [1]:
people = {
    "first": ["Abanoub", "Ebram", "Fady"],
    "last": ["Refaat", "Wael", "Mounir"],
    "email": ["abanoub@email.com", "ebram@email.com", "fady@email.com"]
}

In [2]:
people["email"]

['abanoub@email.com', 'ebram@email.com', 'fady@email.com']

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

     first    last              email
0  Abanoub  Refaat  abanoub@email.com
1    Ebram    Wael    ebram@email.com
2     Fady  Mounir     fady@email.com

In [6]:
df["email"]

0    abanoub@email.com
1      ebram@email.com
2       fady@email.com
Name: email, dtype: object

In [8]:
df.email

0    abanoub@email.com
1      ebram@email.com
2       fady@email.com
Name: email, dtype: object

In [7]:
type(df["email"])

pandas.core.series.Series

In [9]:
df[["last", "email"]]

     last              email
0  Refaat  abanoub@email.com
1    Wael    ebram@email.com
2  Mounir     fady@email.com

In [10]:
type(df[["last", "email"]])

pandas.core.frame.DataFrame

In [11]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [14]:
df.iloc[[0, 1]] #integer location

     first    last              email
0  Abanoub  Refaat  abanoub@email.com
1    Ebram    Wael    ebram@email.com

In [15]:
df.iloc[[0, 1], 2]

0    abanoub@email.com
1      ebram@email.com
Name: email, dtype: object

In [ ]:
df.loc[0] # labeled location

first              Abanoub
last                Refaat
email    abanoub@email.com
Name: 0, dtype: object

In [ ]:
df.loc[[0, 1], ["email", "last"]] # in the same order email then last

               email    last
0  abanoub@email.com  Refaat
1    ebram@email.com    Wael